opencell-tests/api/soapui/Keycloak Admin API.wadl

<?xml version="1.0" encoding="UTF-8"?>
<application xmlns="http://wadl.dev.java.net/2009/02">
  <doc xml:lang="en" title="Keycloak Admin API"/>
  <resources base="${#Project#keycloakUrl}">
    <resource path="admin/realms/{realm}/users/{id}/role-mappings/clients/{client}" id="user roles">
      <doc xml:lang="en" title="user roles"/>
      <param name="id" type="xs:string" required="false" default="" style="template" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <param name="realm" default="${#Project#keycloakRealm}" type="xs:string" required="false" style="template" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <param name="bearer-token" type="xs:string" required="false" default="" style="plain" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <param name="client" type="xs:string" required="false" default="" style="template" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <method name="GET" id="GET">
        <doc xml:lang="en" title="GET"/>
        <request/>
        <response status="200">
          <representation mediaType="application/json; charset=UTF-8"/>
        </response>
        <response status="404">
          <representation mediaType="application/json; charset=UTF-8"/>
        </response>
      </method>
      <method name="DELETE" id="DELETE">
        <doc xml:lang="en" title="DELETE"/>
        <request/>
      </method>
      <method name="POST" id="POST">
        <doc xml:lang="en" title="POST"/>
        <request/>
      </method>
    </resource>
    <resource path="admin/realms/{realm}/clients" id="clients">
      <doc xml:lang="en" title="clients"/>
      <param name="realm" default="${#Project#keycloakRealm}" type="xs:string" required="false" style="template" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <resource path="{client}/roles" id="roles">
        <doc xml:lang="en" title="roles"/>
        <param name="realm" default="${#Project#keycloakRealm}" type="xs:string" required="false" style="template" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
        <param name="client" type="xs:string" required="false" default="" style="template" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
        <method name="GET" id="GET">
          <doc xml:lang="en" title="GET"/>
          <request>
            <param name="bearer-token" type="xs:string" required="false" default="" style="plain" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
          </request>
        </method>
      </resource>
      <resource path="{id}/roles/{role-name}" id="{role-name}">
        <doc xml:lang="en" title="{role-name}"/>
        <param name="realm" default="${#Project#keycloakRealm}" type="xs:string" required="false" style="template" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
        <param name="id" default="id" type="xs:string" required="false" style="template" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
        <param name="role-name" type="xs:string" required="false" default="" style="template" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
        <method name="GET" id="GET">
          <doc xml:lang="en" title="GET"/>
          <request/>
        </method>
      </resource>
      <method name="GET" id="GET">
        <doc xml:lang="en" title="GET"/>
        <request>
          <param name="bearer-token" type="xs:string" required="false" default="" style="plain" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
        </request>
      </method>
    </resource>
    <resource path="realms/{realm}/protocol/openid-connect/token" id="token">
      <doc xml:lang="en" title="token"/>
      <param name="realm" default="${#Project#keycloakRealm}" type="xs:string" required="false" style="template" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <param name="client_id" default="admin-cli" type="xs:string" required="false" style="query" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <method name="POST" id="POST">
        <doc xml:lang="en" title="POST"/>
        <request>
          <param name="username" default="${#Project#keycloakUsername}" type="xs:string" required="false" style="query" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
          <param name="password" default="${#Project#keycloakPassword}" type="xs:string" required="false" style="query" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
          <param name="grant_type" default="password" type="xs:string" required="false" style="query" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
        </request>
      </method>
    </resource>
    <resource path="admin/realms/{realm}/users" id="users">
      <doc xml:lang="en" title="users"/>
      <param name="realm" default="${#Project#keycloakRealm}" type="xs:string" required="false" style="template" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <param name="bearer-token" type="xs:string" required="false" default="" style="plain" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <method name="GET" id="GET">
        <doc xml:lang="en" title="GET"/>
        <request>
          <param name="username" default="${#Project#keycloakUsername}" type="xs:string" required="false" style="query" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
        </request>
      </method>
    </resource>
  </resources>
</application>